<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Formulario Cliente</title>
	<!-- Enlaces a los archivos CSS de Bootstrap -->
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
	<style>
		body {
			font-family: Arial, sans-serif;
			background: url('https://cdn.pixabay.com/photo/2016/02/06/09/56/science-1182713_640.jpg') no-repeat center center fixed;
			background-size: cover;
			color: #1d1f21;
			display: flex;
			flex-direction: column;
			min-height: 100vh;
			/* Asegura que el cuerpo ocupe al menos la altura de la ventana */
		}

		label {
			margin-bottom: 0.2rem;
		}

		.form-control {
			width: calc(50% - 5px);
		}

		.input-with-level {
			width: calc(33.33% - 5px);
			/* 1/3 del ancho del contenedor en dispositivos medianos */
			display: flex;
		}

		.back {
			background-color: rgba(255, 255, 255, 0.9);
			padding-left: 10%;
			padding-top: 2%;
			border-radius: 5%;
		}

		.navbar {
			padding: 8px 16px !important;
		}

		h1 {
			text-align: center;
		}
	</style>
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" th:href="@{/administrador/index}">
		</a>
		<div class="navbar-title">
			<!-- Título -->
			<h1>Formulario Cliente</h1>
		</div>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
			aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse justify-content-end" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item">
					<!-- Botón de Logout -->
					<a class="btn btn-outline-danger my-2 my-sm-0" type="submit" th:href="@{/}">Logout</a>
				</li>
			</ul>
		</div>
	</nav>
	<div class="	back container ">
		<h2 class="mt-4 mb-4">Formulario de Registro</h2>
		<div>
			<form id="registrationForm" th:action="@{/administrador/cliente/save}" th:object="${cliente}" method="post">
				<div class="row">
					<div class="col-md-4 mb-3">
						<label for="id">ID:</label>
						<input th:field="*{id}" type="text" class="form-control" id="id" name="id" required>
					</div>
					<div class="col-md-4 mb-3">
						<label for="document">Usuario:</label>
						<input th:field="*{usuario}" type="text" class="form-control" id="document" name="document"
							required>
					</div>
					<!-- Ejemplo de un campo ajustado -->
					<div class="col-md-4 mb-3">
						<label for="password">Contraseña:</label>
						<input th:field="*{contrasena}" type="password" class="form-control" id="password"
							name="contrasena" required>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4 mb-3">
						<label for="documentType">Tipo de Documento:</label>
						<select th:field="*{tipoDocumento}" class="form-control" id="documentType" name="documentType"
							required>
							<option value="CC">CC</option>
							<option value="TI">TI</option>
						</select>
					</div>
					<div class="col-md-4 mb-3">
						<label for="document">Documento:</label>
						<input th:field="*{numeroDocumento}" type="text" class="form-control" id="document"
							name="document" required>
					</div>
					<div class="col-md-4 mb-3">
						<label for="names">Primer Nombre:</label>
						<input th:field="*{primerNombre}" type="text" class="form-control" id="name" name="primerNombre"
							required>
					</div>

				</div>
				<div class="row">
					<div class="col-md-4 mb-3">
						<label for="secondName">Segundo Nombre:</label>
						<input th:field="*{segundoNombre}" type="text" class="form-control" id="secondName"
							name="segundoNombre" required>
					</div>
					<div class="col-md-4 mb-3">
						<label for="names">Primer Apellido:</label>
						<input th:field="*{primerApellido}" type="text" class="form-control" id="lastNamesS"
							name="primerApellido" required>
					</div>
					<div class="col-md-4 mb-3">
						<label for="lastNames">Segundo Apellido:</label>
						<input th:field="*{segundoApellido}" type="text" class="form-control" id="lastNames"
							name="lastNames" required>
					</div>

				</div>
				<div class="row">
					<div class="col-md-4 mb-3">
						<label for="email">Correo Electronico:</label>
						<input th:field="*{correoElectronico}" type="text" class="form-control" id="email" name="email"
							required>
					</div>
					<div class="col-md-4 mb-3">
						<label for="phone">Número Telefónico:</label>
						<input th:field="*{numeroTelefonico}" type="text" class="form-control" id="phone" name="phone"
							required>
					</div>
					<div class="col-md-4 mb-3">
						<label for="registrationNumber">Número de Registro:</label>
						<input th:field="*{numeroRegistro}" type="text" class="form-control" id="registrationNumber"
							name="registrationNumber" required>
					</div>
				</div>
		</div>
		<button type="submit" class="btn btn-primary">Enviar</button>
		</form>
		<br>
	</div>

	</div>

	<!-- jQuery, Popper.js, Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>