<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <h2>Lista de Vehículos</h2>
    <table>
        <tr>
            <th>Matrícula</th>
            <th>Marca</th>
            <th>Modelo</th>
            <th>Año</th>
            <th>Estado</th>
            <th>Tipo</th>
            <th>Kilometraje</th>
            <th>Acciones</th>
        </tr>
        <tr th:each="vehiculo : ${vehiculos}">
            <td th:text="${vehiculo.matricula}"></td>
            <td th:text="${vehiculo.marca}"></td>
            <td th:text="${vehiculo.modelo}"></td>
            <td th:text="${vehiculo.año}"></td>
            <td th:text="${vehiculo.estado}"></td>
            <td th:text="${vehiculo.tipo}"></td>
            <td th:text="${vehiculo.kilometraje}"></td>
            <td>
                <a th:href="@{/empleado/vehiculo/edit/{id}(id=${vehiculo.idVehiculo})}">Editar</a>
                <a th:href="@{/empleado/vehiculo/delete/{id}(id=${vehiculo.idVehiculo})}">Eliminar</a>
            </td>
        </tr>
    </table>
</body>
</html>
